@{
    ViewData["Title"] = "API";
}
<h2>API</h2>
<h3>计算服务调用测试</h3>
<p>
   @ViewData["sum"]
</p>
<p>
    @ViewData["sub"]
</p>
<h3>天气服务调用测试</h3>
<h4>
    2013年1月1日至2018年10月26日各城市平均气温标准差为：
</h4>
<ul>
    <li>@ViewData["stddev_sy"]</li>
    <li>@ViewData["stddev_gz"]</li>
</ul>
<p>
    @ViewData["calc_app_name"]
</p>


